warname = Policy

uat.username = username
uat.password = password
uat.manager = http://example.com/manager
uat.database.name = database
uat.database.username = username
uat.database.password = password

test.username = username
test.password = password
test.manager = http://example.com/manager
test.database.name = database
test.database.username = username
test.database.password = password

